@model List<web452.Models.MyModel>
@{
    ViewData["Title"] = "Index2";
}

<h1>if 文で条件分岐する</h1>
@if (@Model.Count == 0)
{
    <div>書籍データがありません。</div>
}
else
{
    <table border="1">
        <tr>
            <th>ID</th>
            <th>タイトル</th>
            <th>価格</th>
        </tr>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Title</td>
                <td>@item.Price 円</td>
            </tr>
        }
    </table>
}

